* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0a39a5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #262323;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container h1 {
    color: #fef9f9;
    margin-bottom: 10px;
}

.container p {
    color: #fef9f9;
    margin-bottom: 25px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    text-decoration: none;
    background: #9b20d4;
    color: white;
    padding: 12px;
    border-radius: 6px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #370341;
}
